@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 10%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

.hide-row{
  visibility: hidden;
}

/* Landing Page */

.logo-animation { animation-delay: 0.5s; }
.nav-item-one-animation { animation-delay: 1s; }
.nav-item-two-animation { animation-delay: 1.5s; }

/* Ethical Investigation */

.ethical-header-animation { animation-delay: 0.5s; }
.ethical-section-animation { animation-delay: 1s; }

/* Design Investigation */

.design-header-animation { animation-delay: 0.5s; }
.solutions-animation { animation-delay: 1s; }
.card-top-row-animation { animation-delay: 1.5s; }
.card-bottom-row-animation { animation-delay: 2s; }

.card-column:hover{
  transition: all 0.3s ease-out;
  top: -8px;
}

.card-column{
  transition: all 0.3s ease-out;
}

/* Features Page Animation */

.features-header-animation { animation-delay: 0.5s; }
.feature-animation { animation-delay: 1s; }

.blurb-animation { animation-delay: 1s; }
.notification-icon-animation { animation-delay: 1.5s; }

/* Resources Page Animation */ 

.resources-header-animation { animation-delay: 0.5s; }
.references-animation { animation-delay: 1s; }
.informative-resources-animation { animation-delay: 1.5s; }