body {
    margin: 0;
}

.hide{
    display: none;
}

/* BACKGROUND IMAGE*/

.home-html{
    height: 100%; /* Adding to HTML and setting width to 100% ensures the image will fit various screen sizes*/
    background-image: url(assets/img/background-circles-home.svg);
    background-repeat: no-repeat;
    background-size: cover; /* Covers the width of the page */
    background-position: center;
}

/* NAV BAR*/

.nav-bar { /* Conditions for regular nav bar */
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transform: translateZ(0);
}

.nav-logo { /* Conditions for nav bar logo*/
    float: left;
    width: 90px;
    padding: 10px 10px;
    transition: 0.4s;
}

.nav-item{ /* Conditions for nav items */
    float: right;
    display: block;
    color: #2B0054;
    padding: 35px 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    transition: 0.4s;
}

.nav-item:hover { /* Setting hover colour*/
    color: #782BA1;
}

.nav-icon { /* Conditions for mobile menu icons */
    height: 22px;
    width: auto;
    margin-right: 20px;
    color: #2B0054;
    font-size: 2.5em;
}

.nav-clear {
    position: relative;
    background: none;
}

.nav-right {
    display: none;
}

.mobile-menu { /* Conditions for mobile menu */
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #b8edf2  ;
}
.mobile-menu-items { /* Conditions for mobile menu items */
    color: #2B0054;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    margin-top: 50px;
}

.mobile-menu-items > a:first-child { /* Line that seperates mobile menu items*/
    border-bottom: 2px solid #2B0054;;
}

.nav-item-mobile {
    padding: 35px;
    width: 80%;
    box-sizing: border-box;
    text-align: center;
}

a { /* Colour of mobile menu items */
    color: #782BA1;;
}

button{
    background-color: transparent;
    border: none;
}

/* FOOTER */

footer{
    background-color: #2B0054;
}

.footer-item{ /* Conditions for footer item */
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 1.5em;
}

.footer-bar{
    max-width: 1280px;
    width: 88%;
    margin: auto;
    padding: 20px 0;
}

/* TYPOGRAPHY */

h1{ /* Large headers - light purple */
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 4.5em; 
    color: #782BA1;
    margin: 0;
}

h2{ /* Medium headers - green*/
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3.5em;
    color: #00848d;
    margin: 0;   
}

h3{ /* Header font used for solutions text*/
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 4em;
    color: #2B0054;
    margin: 0;
}

h4{ /* Header font used on cards*/
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2em;
    color: #2B0054;
    margin: 0;
    line-height: 1.2;
}

h5{ /* Large font used on home page */
    font-family: 'Poppins', 'sans-serif';
    font: weight 800;
    font-size: 8em;
    line-height: 0.9;
    margin: 0;
}

h6{ /* Phone labels */
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    color: #2B0054;
    margin: 0;
    padding-bottom: 8px;
    text-align: center;
}

p{ /* Body font */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #2B0054;
}

/* HOME PAGE */

.logo-home{ /* Conditions for the logo */
    margin-left: 50px;
    margin-top: 130px;
}

.logo-the{ /* Setting colour for each word */
    color: #782BA1;
}

.logo-ethical{
    color: #2B0054;
}

.logo-social{
    color: #0072FF;
}

.logo-media{
    color: #35CADA;
}

.logo-project{
    color: #00848D;
}

/* ETHICAL INVESTIGATION PAGE */

.ethical-section-introduction{ /* Conditions for page header*/
    padding: 140px 20px 80px 20px;
    max-width: 1280px;
    width: 88%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;   
}

.ethical-content{ /* Conditions for page content */
    max-width: 1280px;
    width: 88%;
    margin-right: auto;
    margin-left: auto; 
    padding: 40px 20px 60px 20px;
    box-sizing: border-box;
}
 
.background-teal{ /* Setting background colour for each section */
    background: rgba(53, 202, 218, 0.35);
}

.background-white{
    background: rgba(255, 255, 255);
}

.background-blue{
    background: rgba(0, 114, 255, 0.25);
}

.timeline{ /* Conditions for timeline images*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.table { /* Conditions for the table */
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    margin: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

.table thead th {
    text-align: center;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1em;
    color: #ffffff;
    margin: 0;
    background-color: #2B0054;   
}

td{
    text-align: center;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    color: #782BA1;
    margin: 0;
}

.title{
    color:#2B0054;  
    font-size: 1em;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #2B0054
}

tr:nth-child(even){background-color: #ffffff}
tr:nth-child(odd){background-color: #f2f2f2}

.sm-analysis-icon{
    padding-right: 20px;
}

/* DESIGN INVESTIGATION */

.circles-background-image{ /* Background image */
    background-image: url(assets/img/background-circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.design-section-introduction{ /* Conditions for page header*/
    padding: 140px 20px 80px 20px;
    max-width: 1280px;
    width: 88%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;   
}

.solutions{ /* Conditions for subheader*/
    background: rgba(53, 202, 218, 0.35);
    padding: 20px;
    text-align: center;
}

.features{
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-container{ /* Container for the cards */
    max-width: 1400px;
    margin:auto;
}

.flex-grid{ /* Setting up grid */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-column{ /* Conditions for the cards */
    width: 30%;
    max-width: 380px;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    top: 0px;
    position: relative;
}

.card-top{ /* Conditions for card tops */
    background-color: #f2f2f2;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 220px;
    padding: 20px;
    text-align: center;  
    box-sizing: border-box;
}

.card-bottom{ /* Conditions for card bottoms */
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 260px; 
    padding: 20px; 
    box-sizing: border-box;
}

.card-bottom-teal{ /* Alternate colours for card bottom */
    background: rgba(53, 202, 218, 0.35);  
}

.card-bottom-blue{
    background: rgba(0, 114, 255, 0.35);   
}

.card-icon{ /* Conditions for card icons */
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 30px; 
    margin: 10px;
}

.card-icon-teal{ /* Alternate colours for icon background */
    background: rgba(53, 202, 218, 0.35);
}

.card-icon-blue{
    background: rgba(0, 114, 255, 0.35);
}

/* NOTIFICATION PAGE */

.application-icons{
    align-items: center;
    display: flex;
}

.notification-sounds{
    background: rgba(53, 202, 218, 0.35);
    position: relative;
    display: block;
}

.notificaton-content{ /* Conditions for page content */
    max-width: 1280px;
    width: 88%;
    margin-right: auto;
    margin-left: auto; 
    padding: 40px 20px 60px 20px;
    box-sizing: border-box;
}

.notification-blurb { 
    width: 54%;
}

.grid-container { /* Setting up grid */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 80px;
}

.button-green{ /* Alternate colours for the buttons*/
    background: rgba(0, 132, 141, 0.35);
}

.button-purple{
    background: rgba(120, 43, 161, 0.35);
}

.button-blue{
    background: rgba(0, 114, 255, 0.35);
}

.notification-icon{ /* Colour of icons */
    color: #2B0054;
}

button { /* Conditions for buttons */
    border-radius: 25px;
    width: 94px;
    height: 91px;
    position: relative;
    outline: none;
    border: none; 
    cursor: pointer;
}

.application-badge-old { /* Conditions for old notification badge */
    display: none;
    position: absolute;
    top: -13px;
    right: -13px;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 800;
    font-size: 1.8em;
    text-align: center;
}

#application-badge-green { /* Conditions for new notification badge*/
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(0, 132, 141, 0.65);
}

#application-badge-purple {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(120, 43, 161, 0.65);
}

#application-badge-blue {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(0, 114, 255, 0.65);
}

/* FEATURES PAGES */

.section-introduction{ /* Conditions for page header*/
    padding: 140px 20px 80px 20px;
    max-width: 1280px;
    width: 88%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;    
}

.feature-content{ /* Conditions for page content */
    width: 88%; 
    padding: 40px 20px 40px 20px;
    box-sizing: border-box;
}

.feature-one{ /* Conditions for each section */
    background: rgba(53, 202, 218, 0.35);
    width: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.feature-two{
    background: rgba(255, 255, 255);
    width: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.feature-three{
    background: rgba(0, 114, 255, 0.25);
    width: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.container{
    margin:auto;
    position: relative;
    display: block;
}

.row{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.row--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.blurb { /* Conditions for the feature content */
    width: 38%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 40px;
}

.blurb-large{
    width: 60%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 40px;
}

.phone{ /* Conditions for the phone screen shape */
    height: 680px;
    width: 330px; 
    border: 3px solid black;
    border-radius: 15px;
    overflow: auto;
    background-color: white;
    position: relative;
    display: inline-block;
    max-height: 85vh;
    margin-left: 15px;
}

.phone-images{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.phone::-webkit-scrollbar { /* Removes the scroll bar */
    display: none;
}

.phone-header{ /* Fixes the header navigation to the top of the scroll */
    position:sticky;
    top:0;
}

.phone-footer{ /* Fixes the footer navigation to the bottom of the scroll */
    position:sticky;
    bottom:0;
}

/* INTERACTIVE ARROWS */

.interactive-arrow{ /* Conditions for all arrows */
    margin-top: 40px;
    position: relative;
}

.arrow-md-laptop{ /* Arrows for laptops */
    position: absolute;
    bottom: -15px;
    left: 130px;
}

.arrow-md-laptop-single-feature{ /* Single feature arrows for laptops */
    position: absolute;
    bottom: -10px;
    left: 130px;
    width: 600px;
}

.arrow-sm-laptop{ /* Arrows for smaller resolution laptops */
    display: none;
    position: absolute;
    bottom: -15px;
    left: 130px;
    width: 300px;
}

.arrow-tablet{ /* Arrows for tablets */
    display: none;
    position: absolute;
    bottom: -15px;
    left: 130px;
    width: 215px;
}

.arrow-phone{ /* Arrows for phones */
    display: none;
    position: absolute;
    bottom: -20px;
    left: 130px;
    width: 150px;
}

/* TIKTOK SCROLL */

.tiktok-scroll::-webkit-scrollbar { /* Removes the scroll bar */
    display: none;
}

.tiktok-scroll { /* Conditions for TikTok Phones */
    height: 680px;
    width: 330px;
    border: 3px solid black;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 10px;
    display: inline-block;
    max-height: 85vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;   
}

.tiktok-post {
    background-color: white;
    scroll-snap-align: start;
}

/* RESOURCES */

.resources-section-introduction{ /* Conditions for page header*/
    padding: 140px 20px 80px 20px;
    max-width: 1280px;
    width: 88%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;   
}

.resources-content{ /* Conditions for page content*/
    max-width: 1280px;
    width: 88%;
    margin-right: auto;
    margin-left: auto; 
    padding: 40px 20px 60px 20px;
    box-sizing: border-box;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .blurb {
        width: 100%;
    }
    .blurb-large {
        width: 100%;
    }
}

@media (min-width: 1600px) and (max-width: 2000px){ /* Increasing Logo size on landing page on larger screens */
    h5{
        font-size: 10em;
    }
    .logo-home{
        margin-left: 50px;
        margin-top: 180px;
    }
}

/* MEDIA QUERIES - LOWER RESOLUTION SCREENS */

@media (min-width: 771px) and (max-width: 1330px){
    .row--flex{
        flex-direction: column;
    }
    .blurb{
        width: 100%;
    }
    .blurb-large{
        width: 100%;
    }
    .notification-blurb{
        width: 100%;
    }
    .phone-images{
        justify-content: space-evenly;
        width: 100%;
    }
    .arrow-md-laptop{
        display: none;
    }  
    .arrow-md-laptop-single-feature{
        display: none;
    } 
    .arrow-sm-laptop{
        display: block;
    }
    h5{
        font-size: 7em;
    }
    .logo-home{
        margin-left: 50px;
    }
}

/* MEDIA QUERY - NAV BAR */

@media (min-width: 770px) { /* Hiding mobile navigation & showing regular */
    .nav-mobile {
        display: none;
    }
    .nav-right {
        display: block;
    }
}

/* MEDIA QUERIES - TABLET */

@media (min-width: 501px) and (max-width: 770px){ /* iPad */
    .row--flex{ 
        flex-direction: column; /* Changes flex direction for samller screens*/
    }
    .phone-images{ /* Conditions for phones on smaller screens */
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-evenly;
    }
    .notification-blurb{ /* Setting blurbs to 100% */
        width: 100%;
    }
    .application-icons{
        display: inline;
    }
    h1{ /* Changes typography sizes for smaller screens */
        font-size: 3.5em;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 3em;
    }
    h5{
        font-size: 6em;
    }
    .flex-grid{
        flex-direction: row;
        flex: wrap;
    }
    .card-column{ /* Changing card width to fill screen*/
        width: 100%;
        padding: 20px 10px;
    }
    .arrow-md-laptop{ /* Changing which arrows can be seen on smaller screens*/
        display: none;
    }  
    .arrow-md-laptop-single-feature{
        display: none;
    } 
    .arrow-tablet{
        display: block;
    }
    .logo-home{ /* Changing logo position on smaller screens*/
        margin-left: 20px;
    }
}

/* MEDIA QUERIES - PHONES */

@media (max-width: 500px) { /* Large phone */
    .row--flex {
        flex-direction: column;
    }
    .phone-images{
        justify-content: space-evenly;
    }
    .phone-outer{ /* Adding padding underneath phones*/
        padding-bottom: 25px;
    }
    .phone{ /* Removing margin-left */
        margin-left: 0px;
    }
    .feature-content{ /* Changing content widths */
        width: 95%
    }
    .section-introduction{
        width: 95%
    }
    .ethical-section-introduction{
        width: 95%;
    }
    .ethical-content{
        width: 95%
    }
    .design-section-introduction{
        width: 95%;
    }
    .notificaton-content{
        width: 95%;
    }
    .notification-blurb{
        width: 100%;
    }
    .grid-container{ /* Changing layout of notification icons */
        grid-gap: 40px;    
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 2em;
    }
    h5{
        font-size: 6em;
    }
    .flex-grid{
        flex-direction: column;
        align-items: center;
    }
    .card-column{
        width: 100%;
        padding: 20px 10px;
    }
    .timeline{ /* Removing timeline images */
        display: none;
    }
    .arrow-md-laptop{
        display: none;
    }
    .arrow-md-laptop-single-feature{
        display: none;
    }
    .arrow-phone{
        display: block;
    }
    .logo-home{
        margin-left: 20px;
        margin-top: 180px;
    }
}

@media (max-width: 475px) { /* Medium Phone - Pixel 3a */
    .row--flex {
        flex-direction: column;
    }
    .phone-images{
        justify-content: space-evenly;
    }
    .phone-outer{
        padding-bottom: 25px;
    }
    .phone{
        margin-left: 0px;
    }
    .feature-content{
        width: 95%
    }
    .section-introduction{
        width: 95%
    }
    .ethical-section-introduction{
        width: 95%;
    }
    .ethical-content{
        width: 95%
    }
    .design-section-introduction{
        width: 95%;
    }
    .notificaton-content{
        width: 95%;
    }
    .notification-blurb{
        width: 100%;
    }
    .grid-container{
        grid-gap: 30px;  
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 2em;
    }
    h5{
        font-size: 6em;
    }
    .flex-grid{
        flex-direction: column;
        align-items: center;
    }
    .card-column{
        width: 100%;
        padding: 20px 10px;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .timeline{
        display: none;
    }
    .arrow-md-laptop{
        display: none;
    }
    .arrow-md-laptop-single-feature{
        display: none;
    }
    .arrow-phone{
        display: block;
    }
    .logo-home{
        margin-left: 20px;
        margin-top: 180px;
    }
}

@media (max-width: 380px) { /* Small Phone - iPhone 6/7/8 */
    .row--flex {
        flex-direction: column;
    }
    .notification-blurb{
        width: 100%;
    }
    .grid-container{
        grid-gap: 15px;  
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 2em;
    }
    h5{
        font-size: 6em;
    }
    .flex-grid{
        flex-direction: column;
        align-items: center;
    }
    .card-column{
        width: 100%;
        padding: 20px 10px;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .timeline{
        display: none;
    }
    .arrow-md-laptop{
        display: none;
    }
    .arrow-md-laptop-single-feature{
        display: none;
    }
    .arrow-phone{
        display: block;
    }
    .logo-home{
        margin-left: 20px;
    }
}