/* Background cirles */

#circle1 {
    background: #35cada;
    opacity: 35%;
    border-radius: 50%;
    width: 900px;
    height: 900px;
    position: absolute;
    top: -500px;
    left: -280px;  
}
#circle2 {
    background: #782BA1;
    opacity: 35%;
    border-radius: 50%;
    width: 900px;
    height: 900px;
    position: absolute;
    top: -200px;
    right: -500px;   
}
#circle3 {
    background: #0072FF;
    opacity: 35%;
    border-radius: 50%;
    width: 900px;
    height: 900px;
    position: absolute;
    bottom: -600px;
    left: 100px;   
}

/*Nav Bar*/

.logo{
   float: left;
   width: 90px;
   height: 90px;
   padding: 10px 10px;
}
.navbar{
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
}
.navitem {
    float: right;
    display: block;
    color: #2B0054;
    text-align: center;
    padding: 35px 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 22pt;
  }

/* Fonts */

.SectionIntro{
    padding: 30px;
    margin-top: 110px;   
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 70pt;
    color: #782BA1;
    margin: 0;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 55pt;
    color: #00848d;
    margin: 0;   
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 50pt;
    color: #2B0054;
    margin: 0;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30pt;
    color: #2B0054;
    margin: 0;
    line-height: 1.2;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    color: #2B0054;
    margin: 5; 
}

/*Landing Page*/

.home{
    position: relative;
    width: 650px;
    height: 650px;
    margin-top: 80px;
    margin-left: 25px;
}


/*Design Investigation Page*/

.Solutions{
    margin-top: 50px;
    background: rgba(53, 202, 218, 0.35);
    padding: 20px;
    text-align: center;
}
.features{
    margin-top: 30px;
}
.columnfeatures{
    float: left;
    align-content: center;
    padding: 15px;
}
.icon{
    width: 100px;
    height: 100px;
    background: rgba(0, 114, 255, 0.35);
    border-radius: 100px;
    padding: 30px; 
    margin: 10px;
}
.cardtop{
    background-color: #f2f2f2;
    border-radius: 10px 10px 0px 0px;
    width: 375px;
    height: 180px;
    padding: 20px;
    text-align: center;  
}
.cardbottom{
    background: rgba(0, 114, 255, 0.35);
    border-radius: 0px 0px 10px 10px;
    width: 375px;
    height: 260px; 
    padding: 20px;   
}

/* .rowfeatures>div:nth-child(odd){
    background:#000;
    }
    
.rowfeatures>div:nth-child(even){
    background: purple;
    } */

/*Infinite Scroll Page*/

.InstaIs{
    background: rgba(53, 202, 218, 0.35);
    position:absolute;
}
.phone{ /* Styles of the phone screen shape */
    height: 680px;
    width: 330px;
    border: 3px solid black;
    border-radius: 15px;
    overflow: auto;
    background-color: white;
    position: relative;
}
.phone::-webkit-scrollbar { /* Removes the scroll bar */
    display: none;
}
.header{ /* Fixes the header navigation to the top of the scroll */
    position:sticky;
    top:0;
}
.footer{ /* Fixes the footer navigation to the bottom of the scroll */
    position:sticky;
    bottom:0;
}
.column {
    float: left;
    padding: 40px;
  }
.left{
    width: 30%;
}
.middle{
    float: right;
}


