body {
    margin: 0;
}

.hide{
    display: none;
}

/* BACKGROUND IMAGE*/

.home-html{
    height: 100%; /* Adding to HTML and setting width to 100% ensures the image will fit various screen sizes*/
    background-image: url(assets/img/background-circles-home.svg);
    background-repeat: no-repeat;
    background-size: cover; /* Covers the width of the page */
    background-position: center;
}

/* NAV BAR*/

.nav-bar {
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transform: translateZ(0);
}

.nav-logo {
    float: left;
    width: 90px;
    padding: 10px 10px;
    transition: 0.4s;
}

.nav-item{
    float: right;
    display: block;
    color: #2B0054;
    padding: 35px 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    transition: 0.4s;
}

.nav-item:hover {
    color: #782BA1;
}

.nav-icon {
    height: 22px;
    width: auto;
    margin-right: 20px;
    color: #2B0054;
    font-size: 2.5em;
}

.nav-clear {
    position: relative;
    background: none;
}

.nav-right {
    display: none;
}

.mobile-menu {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #b8edf2  ;
}
.mobile-menu-items {
    color: #2B0054;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    margin-top: 50px;
}
.nav-item-mobile {
    padding: 25px;
    width: 80%;
    box-sizing: border-box;
    margin: 12px 0;
    text-align: center;
}

a {
    color: #782BA1;;
}

button{
    background-color: transparent;
    border: none;
}

/* FOOTER */

footer{
    background-color: #2B0054;
}

.footer-item{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 1.5em;
}

.footer-bar{
    max-width: 1280px;
    width: 86%;
    margin: auto;
    padding: 20px 0;
}

/* TYPOGRAPHY */

h1{ /* Large headers - light purple */
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 4.5em; 
    color: #782BA1;
    margin: 0;
}

h2{ /* Medium headers - green*/
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3.5em;
    color: #00848d;
    margin: 0;   
}

h3{ /* Header font used for solutions text*/
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 4em;
    color: #2B0054;
    margin: 0;
}

h4{ /* Header font used on cards*/
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2em;
    color: #2B0054;
    margin: 0;
    line-height: 1.2;
}

h5{ /* Large font used on home page */
    font-family: 'Poppins', 'sans-serif';
    font: weight 800;
    font-size: 8em;
    line-height: 0.9;
    margin: 0;
}

h6{ /* Medium headers - green*/
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    color: #2B0054;
    margin: 0;   
}

p{ /* Body font */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #2B0054;
    /* margin: 5;  */
}

/* HOME PAGE */

.logo-home{
    margin-left: 50px;
    margin-top: 130px;
}

.logo-the{
    color: #782BA1;
}

.logo-ethical{
    color: #2B0054;
}

.logo-social{
    color: #0072FF;
}

.logo-media{
    color: #35CADA;
}

.logo-project{
    color: #00848D;
}

/* ETHICAL INVESTIGATION PAGE */

.ethical-section-introduction{
    padding: 140px 20px 80px 20px;
    max-width: 1280px;
    width: 86%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;   
}

.ethical-content{
    max-width: 1280px;
    width: 86%;
    margin-right: auto;
    margin-left: auto; 
    padding: 40px 20px 60px 20px;
    box-sizing: border-box;
}
 
.background-teal{
    background: rgba(53, 202, 218, 0.35);
}

.background-white{
    background: rgba(255, 255, 255);
}

.background-blue{
    background: rgba(0, 114, 255, 0.25);
}

.timeline{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    margin: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

.table thead th {
    text-align: center;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1em;
    color: #ffffff;
    margin: 0;
    background-color: #2B0054;   
}

td{
    text-align: center;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    color: #782BA1;
    margin: 0;
}

.title{
    color:#2B0054;  
    font-size: 1em;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #2B0054
}

tr:nth-child(even){background-color: #ffffff}
tr:nth-child(odd){background-color: #f2f2f2}

.sm-analysis-icon{
    padding-right: 20px;
}

/* DESIGN INVESTIGATION */

.circles-background-image{
    background-image: url(assets/img/background-circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.design-section-introduction{
    padding: 140px 20px 80px 20px;
    max-width: 1280px;
    width: 86%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;   
}

.solutions{
    background: rgba(53, 202, 218, 0.35);
    padding: 20px;
    text-align: center;
}

.features{
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-container{
    max-width: 1400px;
    margin:auto;
}

.flex-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-column{
    width: 30%;
    max-width: 380px;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    top: 0px;
    position: relative;
}

.card-top{
    background-color: #f2f2f2;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 220px;
    padding: 20px;
    text-align: center;  
    box-sizing: border-box;
}

.card-bottom{
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 260px; 
    padding: 20px; 
    box-sizing: border-box;
}

.card-bottom-teal{
    background: rgba(53, 202, 218, 0.35);  
}

.card-bottom-blue{
    background: rgba(0, 114, 255, 0.35);   
}

.card-icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 30px; 
    margin: 10px;
}

.card-icon-teal{
    background: rgba(53, 202, 218, 0.35);
}

.card-icon-blue{
    background: rgba(0, 114, 255, 0.35);
}

/* NOTIFICATION PAGE */

.application-icons{
    align-items: center;
    display: flex;
}

.notification-sounds{
    background: rgba(53, 202, 218, 0.35);
    position: relative;
    display: block;
}

.notificaton-content{
    max-width: 1280px;
    width: 86%;
    margin-right: auto;
    margin-left: auto; 
    padding: 40px 20px 60px 20px;
    box-sizing: border-box;
}

.notification-blurb { 
    width: 52%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 80px; */
    grid-gap: 80px;
}

.button-green{
    background: rgba(0, 132, 141, 0.35);
}

.button-purple{
    background: rgba(120, 43, 161, 0.35);
}

.button-blue{
    background: rgba(0, 114, 255, 0.35);
}

.notification-icon{
    color: #2B0054;
}

button { 
    border-radius: 25px;
    width: 94px;
    height: 91px;
    position: relative;
    outline: none;
    border: none; 
    cursor: pointer;
}

.application-badge-old {
    display: none;
    position: absolute;
    top: -13px;
    right: -13px;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 800;
    font-size: 1.8em;
    text-align: center;
}

#application-badge-green {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(0, 132, 141, 0.65);
}

#application-badge-purple {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(120, 43, 161, 0.65);
}

#application-badge-blue {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(0, 114, 255, 0.65);
}

/* FEATURES PAGES */

.section-introduction{
    padding: 140px 20px 80px 20px;
    max-width: 1280px;
    width: 86%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;    
}

/* .feature-content{ 
    max-width: 1280px;
    width: 86%;
    margin-right: auto;
    margin-left: auto; 
    padding: 40px 20px 60px 20px;
    box-sizing: border-box;
} */

.feature-one{
    background: rgba(53, 202, 218, 0.35);
    width: 100%;
    position: relative;
    display: block;
    padding: 40px 20px;
    box-sizing: border-box;
}

.feature-two{
    background: rgba(255, 255, 255);
    width: 100%;
    position: relative;
    display: block;
    padding: 40px 20px;
    box-sizing: border-box;
}

.feature-three{
    background: rgba(0, 114, 255, 0.25);
    width: 100%;
    position: relative;
    display: block;
    padding: 40px 20px;
    box-sizing: border-box;
}

.container{
    margin:auto;
    position: relative;
    display: block;
}

.row{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.row--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.blurb { /* Styles of the feature content */
    width: 40%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 40px;
}

.blurb-large{
    width: 60%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 40px;
}

.phone{ /* Styles of the phone screen shape */
    height: 680px;
    width: 330px;
    border: 3px solid black;
    border-radius: 15px;
    overflow: auto;
    background-color: white;
    position: relative;
    display: inline-block;
    max-height: 85vh;
}

.phone::-webkit-scrollbar { /* Removes the scroll bar */
    display: none;
}

.phone-header{ /* Fixes the header navigation to the top of the scroll */
    position:sticky;
    top:0;
}

.phone-footer{ /* Fixes the footer navigation to the bottom of the scroll */
    position:sticky;
    bottom:0;
}

/* TIKTOK SCROLL */

.tiktok-scroll::-webkit-scrollbar { /* Removes the scroll bar */
    display: none;
}

.tiktok-scroll {
    height: 680px;
    width: 330px;
    border: 3px solid black;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 10px;
    display: inline-block;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;   
}

.tiktok-post {
    background-color: white;
    scroll-snap-align: start;
}

.interactive-arrow{
    margin-top: 40px;
    position: relative;
}

.arrow-right{
    position: absolute;
    bottom: -10px;
    left: 130px;
}

.arrow-right-single-feature{
    position: absolute;
    bottom: -10px;
    left: 130px;
}

.arrow-down-tablet{
    display: none;
    position: absolute;
    bottom: -20px;
    left: 130px;
}

.arrow-down-single-feature-tablet{
    display: none;
    position: absolute;
    bottom: -20px;
    left: 130px;
}

.arrow-down-phone{
    display: none;
    position: absolute;
}

.arrow-down-single-feature-phone{
    display: none;
    position: absolute;
}


/* RESOURCES */

.resources-section-introduction{
    padding: 140px 20px 80px 20px;
    max-width: 1280px;
    width: 86%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;   
}

.resources-content{
    max-width: 1280px;
    width: 86%;
    margin-right: auto;
    margin-left: auto; 
    padding: 40px 20px 60px 20px;
    box-sizing: border-box;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .blurb {
        width: 100%;
    }
    .blurb-large {
        width: 100%;
    }
}

@media (min-width: 1600px) and (max-width: 2000px){ 
    h5{
        font-size: 10em; /* Increasing Logo size on landing page on larger screens */
    }
    .logo-home{
        margin-left: 50px;
        margin-top: 180px;
    }
}

@media (min-width: 770px) {
    .nav-mobile {
        display: none;
    }
    .nav-right {
        display: block;
    }
}

/* MEDIA QUERIES - TABLET */

@media (min-width: 501px) and (max-width: 770px){ /* iPad */
    .row--flex{
        flex-direction: column;
    }
    .notification-blurb{
        width: 100%;
    }
    /* .grid-container{
        grid-gap: 50px;  
    } */
    .application-icons{
        display: inline;
    }
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 3em;
    }
    .flex-grid{
        flex-direction: row;
        flex: wrap;
    }
    .card-column{
        width: 100%;
        padding: 20px 10px;
    }
    .timeline{
        width: 700px;
    }
    .arrow-down-tablet{
        display: block;
    }
    .arrow-down-single-feature-tablet{
        display: block;
    }
    .arrow-right{
        display: none;
    }  
    .arrow-right-single-feature{
        display: none;
    } 
    h5{
        font-size: 6em;
    }
    .logo-home{
        margin-left: 20px;
    }
}

/* MEDIA QUERIES - PHONE */

@media (max-width: 500px) { /* Large phone */
    .row--flex {
        flex-direction: column;
    }
    .notification-blurb{
        width: 100%;
    }
    .grid-container{
        grid-gap: 40px;    
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 2em;
    }
    .flex-grid{
        flex-direction: column;
        align-items: center;
    }
    .card-column{
        width: 100%;
        padding: 20px 10px;
    }
    .timeline{
        display: none;
    }
    .arrow-down-phone{
        display: block;
        bottom: -20px;
        left: 130px;
    }
    .arrow-down-single-feature-phone{
        display: block;
        bottom: -20px;
        left: 130px;
    }
    .arrow-right{
        display: none;
    }
    .arrow-right-single-feature{
        display: none;
    }
    h5{
        font-size: 6em;
    }
    .logo-home{
        margin-left: 20px;
        margin-top: 180px;
    }
}

@media (max-width: 475px) { /* Pixel 3a */
    .row--flex {
        flex-direction: column;
    }
    .notification-blurb{
        width: 100%;
    }
    .grid-container{
        grid-gap: 30px;  
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 2em;
    }
    .flex-grid{
        flex-direction: column;
        align-items: center;
    }
    .card-column{
        width: 100%;
        padding: 20px 10px;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .timeline{
        display: none;
    }
    .arrow-down-phone{
        display: block;
        bottom: -20px;
        left: 130px;
    }
    .arrow-down-single-feature-phone{
        display: block;
        bottom: -20px;
        left: 130px;
    }
    .arrow-right{
        display: none;
    }
    .arrow-right-single-feature{
        display: none;
    }
    h5{
        font-size: 6em;
    }
    .logo-home{
        margin-left: 20px;
        margin-top: 180px;
    }
}

@media (max-width: 380px) { /* iPhone 6/7/8 */
    .row--flex {
        flex-direction: column;
    }
    .notification-blurb{
        width: 100%;
    }
    .grid-container{
        grid-gap: 15px;  
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 2em;
    }
    .flex-grid{
        flex-direction: column;
        align-items: center;
    }
    .card-column{
        width: 100%;
        padding: 20px 10px;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .timeline{
        display: none;
    }
    .arrow-down-phone{
        display: block;
        bottom: -20px;
        left: 130px;
    }
    .arrow-down-single-feature-phone{
        display: block;
        bottom: -20px;
        left: 130px;
    }
    .arrow-right{
        display: none;
    }
    .arrow-right-single-feature{
        display: none;
    }
    h5{
        font-size: 6em;
    }
    .logo-home{
        margin-left: 20px;
    }
}